!!!
%html{ lang: 'en' }
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = tag :meta, description: I18n.translate('application.root.description')
    %title= content_for?(:title) ? yield(:title) : t('application.root.title')
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body

    = yield

    = javascript_include_tag 'application', async: true
